.threads
  -if (threads.length === 0)
    section.thread
      h1 No entry yet. Why don't you add one?
  -each thread in threads.reverse()
    section.thread 
      h1
         - var slug = url.replace('#form', '') +'/'+ thread.slug
         - var _url = slug.replace('//', '/').replace('/all','').replace('/popular','')
         small.sub @!{thread.owner.username} > 
         a(href=_url) !{thread.title} 
         //- small.sub [ !{thread.posts.length} replies ] 
      - var date = thread.createdAt.toDateString() + ' ' + thread.createdAt.toLocaleTimeString()
      - var author = thread.owner.username
      small.details Posted on <b>!{date}</b> with <b class="total">!{thread.posts.length}</b> replies 
