extends ../layout

block content
  #container.container
    .content
      .left
        -if (threads.length < 1)
          h2 There are no threads here. Click <a href="/threads/new">here</a> to add one.
        -else
          h2 All Threads <strong>( #{threads.length} </strong> )
      .right
        .menu
          a(href="/threads/")  Own Threads 
          a.active(href="/threads/all") All Threads 
          a(href="/threads/new")  Create New Thread
    .content
      hr
      -if (errorFlash && errorFlash.length > 0)
        p.error=errorFlash[0]
      -if (infoFlash && infoFlash.length > 0)
        p.success=infoFlash[0]
        br
      .threads
        -var i = threads.length
        -while(i--)
          .thread 
            h2
              -var _url = href=url +'/'+ threads[i].slug
              -_url = _url.replace('/all','')
              -_url = _url.replace('//','/')
              a(href=_url) #{threads[i].title}
            -var date = threads[i].createdAt.toDateString() + ' ' + threads[i].createdAt.toLocaleTimeString()
            -var postsCount = threads[i].posts.length
            -var author = threads[i].owner.username
            small.sub <i>published : </i> <b>#{date}</b>  |  <i>posts : </i> <b>#{postsCount}</b> | <i>author : </i> <b>#{author}</b>

