extends ../layout

block content
  #container.container
    .content
      .left
        -if (threads.length < 1)
          h2 You currently have no thread. Click <a href="/threads/new">here</a> to add one.
        -else
          h2 Your Own Threads <strong>( #{threads.length} </strong> )
      .right
        .menu
          a.active(href="/threads/")  Own Threads 
          a(href="/threads/all") Everyone's Threads 
          a(href="/threads/new")  Create New Thread
    .content
      hr
      -if (errorFlash && errorFlash.length > 0)
        p.error=errorFlash[0]
      -if (infoFlash && infoFlash.length > 0)
        p.success=infoFlash[0]
        br
      ul.threads
        -var i = threads.length
        -while(i--)
          li.thread 
            h3
              -var slug = url +'/'+ threads[i].slug
              -var _url = slug.replace('//', '')
              a(href=_url) #{threads[i].title}
            -var date = threads[i].createdAt.toDateString() + ' ' + threads[i].createdAt.toLocaleTimeString()
            -var postsCount = threads[i].posts.length
            -var author = threads[i].owner.username
            small.sub <i>published : </i> <b>#{date}</b>  |  <i>posts : </i> <b>#{postsCount}</b>
    .content
      -if (posts.length < 1)
        h2 You currently have no posts.
        hr
      -else
        h2 Your Thread Posts <strong>( #{posts.length} </strong> )
        hr
        ul.posts
          -var i = posts.length
          -while(i--)
            li.post 
              h3
                -var slug = url +'/'+ posts[i].thread.slug
                -var _url = slug.replace('//', '/')
                a(href=_url) #{posts[i].message}
              small.sub <i>for </i> <b>#{posts[i].thread.title}</b>

