extends ../layout

block content
  #container.container
    .wrapper
      .content
        .left
          -if (threads.length < 1)
            h2 You currently have no thread. Click <a href="/threads/new">here</a> to add one.
          -else
            h2 You have <strong>!{threads.length}</strong> threads
        .right
          include ../includes/menu
      .content
        hr
        -if (errorFlash && errorFlash.length > 0)
          p.error=errorFlash[0]
        -if (infoFlash && infoFlash.length > 0)
          p.success=infoFlash[0]
          br
        include ../includes/threads
      .content
        -if (posts.length < 1)
          h2 You currently have no posts.
          hr
        -else
          h2 You have <strong>!{posts.length}</strong> posts
          br
          .posts
            - var i = 0
            - each post in posts.reverse()
              - var offset = (i % 2 === 0 )? 'offset' : ''
              .post(class=offset) 
                !{ post.message }
                - var slug = url.replace('#form', '') +'/'+ post.thread.slug
                - var _url = slug.replace('//', '/')
                - i++
                hr
                small.sub Posted on <b>!{post.createdAt.toLocaleDateString()}</b> in <a href=!{_url}><b>!{post.thread.title}</b></a> thread.

