extends ../layout

block content
  #container.container
    .content
      .left
        -if (threads.length < 1)
          h2 You currently have no thread. Click <a href="/threads/new">here</a> to add one.
        -else
          h2 Your Own Threads <strong>( !{threads.length} )</strong>
      .right
        .menu
          a.active(href="/threads/")  Own Threads 
          a(href="/threads/all") All Threads 
          a(href="/threads/new")  Create New Thread
    .content
      hr
      -if (errorFlash && errorFlash.length > 0)
        p.error=errorFlash[0]
      -if (infoFlash && infoFlash.length > 0)
        p.success=infoFlash[0]
        br
      .threads
        -each thread in threads.reverse()
          .thread 
            h2
               - var slug = url +'/'+ thread.slug
               - var _url = slug.replace('//', '/')
               a(href=_url) !{thread.title}
            - var date = thread.createdAt.toDateString() + ' ' + thread.createdAt.toLocaleTimeString()
            - var postsCount = thread.posts.length
            - var author = thread.owner.username
            small.sub <i>published : </i> <b>!{date}</b>  |  <i>posts : </i> <b>!{postsCount}</b>
    .content
      -if (posts.length < 1)
        h2 You currently have no posts.
        hr
      -else
        h2 Your Thread Posts <strong>( !{posts.length} )</strong>
        hr
        .posts
          - each post in posts.reverse()
            .post 
              !{ post.message }
              - var slug = url +'/'+ post.thread.slug
              - var _url = slug.replace('//', '')
              p.sub Posted on <b>!{post.createdAt.toLocaleDateString()}</b> in <a href=!{_url}><b>!{post.thread.title}</b></a> thread.

