extends ../layout

block content
  #container.container
    article.wrapper
      .content
        .left
          include ../includes/menu
        .right
          include ../includes/filter-menu
      .content
        hr
        br
        h1
          small.sub @!{ thread.owner.username } > 
          = thread.title
        br
        .posts
          - var i = 0
          - each post in posts
            - var offset = (i % 2 === 0 )? 'offset' : ''
            .post(class=offset)
              .message
                .left.info
                  - var hash = crypto.createHash('md5').update(post.owner.email.toLowerCase().trim()).digest('hex')
                  img(src="http://www.gravatar.com/avatar/"+hash+"?d=monsterid")
                  p.user
                    b !{post.owner.username}
                .right.data!= markdown(post.message)
              hr
              small.sub Posted on <b>!{post.createdAt.toLocaleDateString()}</b>
            - i++
      .content
        h3 Reply to this thread as <span class="sub orange">@!{user.username}</span>
        -if (infoFlash && infoFlash.length > 0)
          br
          p.success=infoFlash[0]
        -if (errorFlash && errorFlash.length > 0)
          br
          p.error=errorFlash[0]
        form(action=url.replace('#form', ''), method='POST', id='form')
          input(type='hidden', value=thread._id, name='_id')
          textarea(name='message', rows='10')
          input(type='submit', name='submit' value='Post Reply')
