extends ../layout

block content
  #container.container
    .content
      .left
        -if (threads.length < 1)
          h2 You currently have no thread. Click <a href="/board/new">here</a> to add one.
        -else
          h2 You currently have <strong> #{threads.length} </strong> thread#{threads.length > 1 ? 's' : ''} 
      .right
        .menu
          a.active(href="/board/")  My Threads 
          a(href="/board/all") Show All  
          a(href="/board/new")  Create New  
    .content
      hr
      -if (errorFlash && errorFlash.length > 0)
        p.error=errorFlash[0]
      -if (infoFlash && infoFlash.length > 0)
        p.success=infoFlash[0]
        br
      ul.threads
        -var i = threads.length
        -while(i--)
          li.thread 
            h4
              a(href="/board/" + threads[i].slug) #{threads[i].title}
            -var date = threads[i].createdAt.toLocaleDateString()
            -var postsCount = threads[i].posts.length
            small.sub <em>Published On</em>: <strong>#{date}</strong>  |  <em>Numer of Posts</em>: <strong>#{postsCount}</strong>

